<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>Login</title>
    <style>
      .error { color: red }
    </style>
  </head>
  <body>
    <div class="d-flex justify-content-center vc">
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <img
            src="../images/arnowa-logo-1.png"
            class="card-img-top"
            alt="Arnowa Image"
          />
          <h1>Login</h1>
          <div class="error"> {{error}} </div>
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username">
            </div>
            <br />
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input  type="password" name="password" class="form-control" id="password" placeholder="Enter your password"></input>
            </div>
            <br />
            <div class="d-grid gap-2 col-8 mx-auto">
              <button class="btn btn-primary" type="submit">Login</button>
              <a class="btn btn-primary" href="/Signup">Signup</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
